.dashBox {
  background-color: url(../../assets//statisticsPage-background-d.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adăugați padding pentru a spația conținutul de margini */
}

.sideSegment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 400px; /* Limitați lățimea segmentului lateral */
}

.contentSegment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 400px; /* Limitați lățimea conținutului principal */
}

.currencyBox {
  display: flex;
  background-color: #ffffff1a;
}

@media only screen and (min-width: 768px) {
  .dashBox {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .sideSegment {
    width: 50%; /* Setăm lățimea la 50% pentru fiecare segment pe ecranul laptopului */
    max-width: none; /* Anulăm limita de lățime */
    margin-right: 20px; /* Adăugăm un spațiu între segmentele laterale și conținutul principal */
  }

  .contentSegment {
    width: 50%; /* Setăm lățimea la 50% pentru fiecare segment pe ecranul laptopului */
    max-width: none; /* Anulăm limita de lățime */
  }
}
