.sidebar {
  background: url(../../assets//statisticsPage-background-d.webp);
  height: 100vh;
  width: 40%;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fbfbfb;

  .link.active {
    color: #ffffff99;
    font-weight: 700;
  }
}

.iconMargin {
  margin-right: 15px;
}

.columLinks {
  display: flex;
  flex-direction: column;
}
