/* Balance.module.css */
.balanceTitle {
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff66;
}

.styleBalance {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 80px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: rgba(82, 59, 126, 0.6);
}

.numberBalance {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fbfbfb;
  font-weight: 700;
}
